* {
    primary: #a3d3987f;
    primary-fixed: #bef0b27f;
    primary-fixed-dim: #a3d3987f;
    on-primary: #0d380d7f;
    on-primary-fixed: #0022027f;
    on-primary-fixed-variant: #2650227f;
    primary-container: #2650227f;
    on-primary-container: #bef0b27f;
    secondary: #baccb37f;
    secondary-fixed: #d6e8ce7f;
    secondary-fixed-dim: #baccb37f;
    on-secondary: #263422;
    on-secondary-fixed: #111f0f7f;
    on-secondary-fixed-variant: #3c4b387f;
    secondary-container: #3c4b387f;
    on-secondary-container: #d6e8ce7f;
    tertiary: #a0cfd37f;
    tertiary-fixed: #bcebef7f;
    tertiary-fixed-dim: #a0cfd37f;
    on-tertiary: #00363a7f;
    on-tertiary-fixed: #0020227f;
    on-tertiary-fixed-variant: #1e4d517f;
    tertiary-container: #1e4d517f;
    on-tertiary-container: #bcebef7f;
    error: #ffb4ab7f;
    on-error: #6900057f;
    error-container: #93000a7f;
    on-error-container: #ffdad67f;
    surface: #10140f7f;
    on-surface: #e0e4da;
    on-surface-variant: #c2c8bc7f;
    outline: #8c93887f;
    outline-variant: #42493f7f;
    shadow: #0000007f;
    scrim: #0000007f;
    inverse-surface: #e0e4da7f;
    inverse-on-surface: #2d322b7f;
    inverse-primary: #3d68387f;
    surface-dim: #10140f7f;
    surface-bright: #363a347f;
    surface-container-lowest: #0b0f0a7f;
    surface-container-low: #191d177f;
    surface-container: #1d211b7f;
    surface-container-high: #272b257f;
    surface-container-highest: #3236307f;
}
