* {
    primary: #bec2ff7f;
    primary-fixed: #e0e0ff7f;
    primary-fixed-dim: #bec2ff7f;
    on-primary: #262b617f;
    on-primary-fixed: #10144b7f;
    on-primary-fixed-variant: #3d42797f;
    primary-container: #3d42797f;
    on-primary-container: #e0e0ff7f;
    secondary: #c5c4dd7f;
    secondary-fixed: #e1e0f97f;
    secondary-fixed-dim: #c5c4dd7f;
    on-secondary: #2e2f42;
    on-secondary-fixed: #191a2c7f;
    on-secondary-fixed-variant: #4445597f;
    secondary-container: #4445597f;
    on-secondary-container: #e1e0f97f;
    tertiary: #e7b9d57f;
    tertiary-fixed: #ffd8ee7f;
    tertiary-fixed-dim: #e7b9d57f;
    on-tertiary: #45263c7f;
    on-tertiary-fixed: #2e11267f;
    on-tertiary-fixed-variant: #5e3c537f;
    tertiary-container: #5e3c537f;
    on-tertiary-container: #ffd8ee7f;
    error: #ffb4ab7f;
    on-error: #6900057f;
    error-container: #93000a7f;
    on-error-container: #ffdad67f;
    surface: #1313187f;
    on-surface: #e4e1e9;
    on-surface-variant: #c7c5d07f;
    outline: #91909a7f;
    outline-variant: #46464f7f;
    shadow: #0000007f;
    scrim: #0000007f;
    inverse-surface: #e4e1e97f;
    inverse-on-surface: #3030367f;
    inverse-primary: #555a927f;
    surface-dim: #1313187f;
    surface-bright: #39393f7f;
    surface-container-lowest: #0e0e137f;
    surface-container-low: #1b1b217f;
    surface-container: #1f1f257f;
    surface-container-high: #2a292f7f;
    surface-container-highest: #34343a7f;
}
