* {
    primary: #84d6c27f;
    primary-fixed: #a0f2de7f;
    primary-fixed-dim: #84d6c27f;
    on-primary: #00382e7f;
    on-primary-fixed: #00201a7f;
    on-primary-fixed-variant: #0051447f;
    primary-container: #0051447f;
    on-primary-container: #a0f2de7f;
    secondary: #b1ccc47f;
    secondary-fixed: #cde8e07f;
    secondary-fixed-dim: #b1ccc47f;
    on-secondary: #1d352f;
    on-secondary-fixed: #06201a7f;
    on-secondary-fixed-variant: #334b457f;
    secondary-container: #334b457f;
    on-secondary-container: #cde8e07f;
    tertiary: #aacbe47f;
    tertiary-fixed: #c8e6ff7f;
    tertiary-fixed-dim: #aacbe47f;
    on-tertiary: #1133487f;
    on-tertiary-fixed: #001e2e7f;
    on-tertiary-fixed-variant: #2a4a5f7f;
    tertiary-container: #2a4a5f7f;
    on-tertiary-container: #c8e6ff7f;
    error: #ffb4ab7f;
    on-error: #6900057f;
    error-container: #93000a7f;
    on-error-container: #ffdad67f;
    surface: #0e15137f;
    on-surface: #dee4e0;
    on-surface-variant: #bfc9c47f;
    outline: #89938f7f;
    outline-variant: #3f49467f;
    shadow: #0000007f;
    scrim: #0000007f;
    inverse-surface: #dee4e07f;
    inverse-on-surface: #2b32307f;
    inverse-primary: #066b5b7f;
    surface-dim: #0e15137f;
    surface-bright: #343b387f;
    surface-container-lowest: #090f0e7f;
    surface-container-low: #171d1b7f;
    surface-container: #1b211f7f;
    surface-container-high: #252b297f;
    surface-container-highest: #3036347f;
}
